/* $Id: logintoboggan-rtl.css,v 1.4 2011/01/05 18:57:58 thehunmonkgroup Exp $ */

div.toboggan-login-link-container {
  text-align: right;
}

div.toboggan-block-message {
  text-align: right;
}

div.user-login-block {
  text-align: right;
}

div.user-login-block a {
  text-align: right;
}
