/* Custom CSS for theme settings form(s) */
.prefix_config {
  display: inline-block;
  margin-left: 25px;
}
.suffix_config {
  display: inline-block;
}
.prefix_config .form-item, .suffix_config .form-item {
  display: inline-block;
}